@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    list-style-type: none;
    font-family:   monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightblue;
}
.logo{
    font-family:  'VT323', monospace;
    font-size: 30px;
}
#kc{
    font-size: 17px;    
}
#kc a{
    font-family:cursive;
    color: rgb(255, 0, 85);
}
.components ul{
    margin: 1em 0;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.components ul::-webkit-scrollbar{
    display: none;
}
.components button{
    border-radius: 5px;
    padding : 0.75em 1em;
    margin-left: 1em;
    background-color: white;
    border: 1px dotted lightblue;
}

.components button:hover{
    cursor: pointer;
    background-color:lightblue;
}
.components button:active{
    background-color: rgb(8, 155, 252);
}
#active{
    background-color:lightblue;

}
main{
    display: flex;
    justify-content: center;
}